/*scroll*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
::-webkit-scrollbar {
  width: 4px;
  border-radius: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0c549f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* GENERAL */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.container-custom {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
}

.vinova {
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px 0 30px 0;
}

.vinova-image__item {
  position: relative;
  display: block;
  color: #fff;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.vinova-image__item .vinova-image__link {
  display: block;
}

.vinova-image__item .vinova-image__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -200px;
  width: 100px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.vinova-image__item .vinova-image__link:hover:before {
  left: 110%;
  width: 300px;
}

/*scroll*/
.deals {
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px 0 40px 0;
}

.deals-inner {
  position: relative;
}

.deals-inner h1 {
  font-family: "Poppins", sans-serif;
  color: #222;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 39px;
}

.deals-card {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 523px;
  padding: 0 15px;
}

.deals-card .deal-item {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.deals-card .deal-item .item-display,
.deals-card .deal-item .item-info {
  position: relative;
  width: 100%;
}

.deals-card .deal-item .item-display {
  height: 70%;
}

.item-link {
  width: 100%;
  height: 100%;
}

.item-link .item__link-figure .front-image,
.item-link .item__link-figure .back-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.item-link .item__link-figure .back-image {
  top: 0px;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.deal-item:hover .back-image {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.item__discount-timer {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.item__discount-timer .discount__timer-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 4px;
  margin-bottom: 7px;
  -webkit-box-shadow: 2px 2px #ff6b57;
          box-shadow: 2px 2px #ff6b57;
}

.item__discount-timer .discount__timer-inner hr {
  width: 60%;
  background-color: #222;
  margin: 0;
  padding: 0;
}

.item__discount-timer .discount__timer-inner .data-number {
  font-family: "Poppins", sans-serif;
  color: #222;
  font-size: 13px;
  font-weight: 900;
  display: inline-block;
  margin: 0;
}

.item__discount-timer .discount__timer-inner .data-name {
  font-family: "Roboto", sans-serif;
  color: #9e9e9e;
  font-size: 10px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5px 0 0;
}

.item-buttons {
  position: relative;
  top: 100%;
  width: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item-buttons .product-wishlist,
.item-buttons .product-quickview {
  margin: 0 5px;
  opacity: 0;
  visibility: initial;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  cursor: pointer;
}

.item-buttons .product-wishlist .item-btns,
.item-buttons .product-quickview .item-btns {
  background: white;
  color: #222;
  padding: 9px 12px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 5px #0003;
          box-shadow: 0 0 5px #0003;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item-buttons .product-wishlist .item-btns:hover,
.item-buttons .product-quickview .item-btns:hover {
  background: #105caa;
  color: #fff;
}

.item-buttons .product-wishlist .btn,
.item-buttons .product-quickview .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50%;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.item-buttons .product-quickview {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.deal-item:hover .product-wishlist,
.deal-item:hover .product-quickview {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 1;
}

.item-info {
  position: relative;
}

.item-info .product-title {
  overflow: hidden;
  margin: 15px 0 8px;
}

.item-info .product-title a {
  font-size: 13px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #444;
  text-decoration: none;
}

.item-info .product-review {
  position: relative;
}

.item-info .product-review .rating i {
  margin: 0 1px 0 0;
  color: yellow;
}

.item-info .product-price {
  color: #222;
  font-size: 13px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 19px;
}

.item-info .product-price .product-price__discount {
  color: #e0e0e0;
  font-size: 10px;
  font-weight: 700;
  margin-left: 10px;
}

.item-info .product-button a {
  position: relative;
  background: #f0f0f0;
  padding: 14px 35px;
  min-width: 40px;
  min-height: 40px;
  text-decoration: none;
  border-radius: 40px;
  border: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 7px;
  color: #444;
}

.item-info .product-button a i {
  position: relative;
  font-size: 17px;
  color: #9e9e9e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item-info .product-button a:hover {
  background-color: #105caa;
  color: #e0e0e0;
}

.item-info .product-button a:hover > .product-btn__check {
  color: #f0f0f0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 992px) {
  .container-custom {
    width: 960px;
  }
  .slick-slide {
    width: 70%;
  }
}

.modal-custom {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}

.modal-custom .modal-content__custom {
  height: 470px;
}

.modal-dialog-scrollable .modal-scroll__custom {
  width: 10px;
  border-radius: 20px;
  background-color: #105caa;
}

.modal__body-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal__body-custom > div {
  width: 50%;
}

.product-presentation {
  position: relative;
}

.product-presentation .btn-close {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #b3b3b3;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  z-index: 10;
  display: none;
}

.product-presentation .btn-close:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.product-desc {
  position: relative;
}

.product-desc .btn-close {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #b3b3b3;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.product-desc .btn-close:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.product-desc h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #222;
  line-height: 1;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.product__modal-price {
  position: relative;
  padding: 17px 0;
}

.product__modal-price span {
  font-family: "Poppins", sans-serif;
  color: #105caa;
  font-size: 20px;
  font-weight: 800;
}

.product__modal-price .old-price {
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 800;
  text-decoration: line-through;
}

.product__modal-reviews {
  margin: 0 0 25px 0;
}

.product__modal-reviews .product-review {
  position: relative;
}

.product__modal-reviews .product-review .rating i {
  margin: 0 1px 0 0;
  color: yellow;
}

.product__modal-reviews .product__reviews-number span {
  text-decoration: none;
  font-size: 12px;
  color: #afafaf;
  font-weight: 500;
  text-transform: uppercase;
}

.product__modal-availability {
  position: relative;
  margin-bottom: 6px;
}

.product__modal-availability .availabilty__product-name {
  font-family: "Roboto", sans-serif;
  color: #444;
  letter-spacing: 0.1px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 42px;
}

.product__modal-availability .availabilty__strore-info {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #6bb853;
  text-transform: uppercase;
}

.product__modal-availability .availabilty__strore-info i {
  font-size: 16px;
}

.product__full-desc {
  position: relative;
}

.product__full-desc .product__modal-sku q::before,
.product__full-desc .product__modal-sku .q::after {
  display: none;
}

.product__full-desc .product__modal-sku .sku-labelkod {
  font-family: "Roboto", sans-serif;
  color: #222;
  letter-spacing: 0.1px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.product__modal-cat .product__col-links {
  font-family: "Roboto", sans-serif;
  color: #666;
  letter-spacing: 0.1px;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
}

.product__modal-cat .product__col-links a {
  text-decoration: none;
  color: #444;
}

.product__modal-shortdesc p {
  font-family: "Roboto", sans-serif;
  color: #666;
  letter-spacing: 0.1px;
  font-size: 13px;
  font-weight: 400;
  margin-top: 18px;
}

.product__modal-shortdesc .selector-variants__header {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #444;
  text-transform: uppercase;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.product__modal-shortdesc .selector-variants__filter a {
  position: relative;
  display: inline-block;
  margin-right: 14px;
  margin-bottom: 4px;
  background-color: transparent;
  border: 1px solid #ebebeb;
  min-width: 34px;
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  text-align: center;
  float: left;
  color: #666;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-bottom: 0;
  text-decoration: none;
}

.product__modal-shortdesc .selector-variants__filter a:hover {
  background-color: #ebebeb;
}

.sku-label {
  min-width: 120px;
  margin-right: 0;
  padding-right: 5px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #444;
  letter-spacing: 0.1px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 42px;
}

.quantity-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.quantity-numbers .value-button {
  position: relative;
  padding: 0;
  text-align: center;
  width: 26px;
  height: 40px;
  line-height: 40px;
  color: #b4b4b4;
  font-size: 1.6rem;
  background: white;
  border: 1px solid #ebebeb;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  cursor: pointer;
}

.quantity-numbers input {
  height: 40px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  width: 50px;
  font-weight: 400;
  color: #222;
  text-align: center;
  border: none;
  background-color: #ebebeb;
  padding: 0;
}

.modal-product__wishlist .modal-product__wishlistlink {
  width: initial;
  height: initial;
  line-height: initial;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 0;
  margin: 15px 0;
  font-family: "Roboto", sans-serif;
  color: #105caa;
  letter-spacing: 0.1px;
  font-size: 10px;
  font-weight: 700;
}

.modal-product__wishlist .modal-product__wishlistlink i {
  font-size: 16px;
  font-weight: 400;
  color: #105caa;
  margin-right: 6px;
}

.modal__confirmation-buttons {
  position: relative;
}

.modal__confirmation-buttons .add-to-cart {
  position: relative;
}

.add-btn {
  width: 100%;
  z-index: 10;
  position: relative;
  color: #222;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 0;
  border: 1px solid #666;
  margin-bottom: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 48px;
}

.add__btn-hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #0b549f;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.add-btn:hover {
  color: #e0e0e0;
}

.add__btn-primary:hover {
  background-color: #0b549f;
  color: #e0e0e0;
}

.add__btn-hover:hover::before {
  height: 100%;
}

/*modal slider*/
.product-modalwrapper {
  position: fixed;
  width: 415px;
}

.product-modalslider {
  position: fixed;
  width: 415px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-modalslider {
  position: relative;
}

.product-modalslider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.product-modalslider .slick-prev {
  left: 0;
  background-image: url(../images/arrow.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 70%;
  width: 37px;
  height: 50px;
  background-color: #474747;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.product-modalslider .slick-next {
  right: 0;
  background-image: url(../images/arrow.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 70%;
  width: 37px;
  height: 50px;
  background-color: #474747;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

@media only screen and (max-width: 992px) {
  .container-custom {
    width: 960px;
  }
  .modal-custom {
    width: 500px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .modal-custom .modal-content__custom {
    height: 470px;
  }
  .modal__body-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .modal__body-custom > div {
    width: 100%;
  }
  .product-modalwrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
  .product-modalslider {
    width: 100%;
  }
  .product-desc {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 536px) {
  .container-custom {
    width: 960px;
  }
  .modal-custom {
    width: 370px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .modal-custom .modal-content__custom {
    height: 470px;
  }
  .modal__body-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .modal__body-custom > div {
    width: 100%;
  }
  .product-modalwrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
  .product-modalslider {
    width: 100%;
  }
  .product-desc {
    padding: 0 10px;
  }
  .product-presentation .product-desc .btn-close {
    display: none;
  }
  .product-presentation .btn-close {
    z-index: 10;
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */